# Week 2 - Monday Lesson (variable assignment, loops, lists)

## Tasks Today:

1) Int & Float assignments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Assigning int <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Assigning float <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Performing Calculations on ints and floats <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Addition <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subtraction <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Multiplication <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Floor Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Modulo <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Exponential <br>
2) String Input-Output <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) String Assignment <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) print() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) String Concatenation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Type Conversion <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) input() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) format() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Old Way (python 2) <br>
3) <b>In-Class Exercise #1</b> <br>
4) If Statements <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) 'is' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) 'not in' keyword <br>
5) <b>In-Class Exercise #2</b> <br>
6) Elif Statements <br>
7) Else Statements <br>
8) <b>In-Class Exercise #3</b> <br>
9) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
10) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
11) Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) range() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) len() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) help() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) isinstance() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) abs() <br>
12) Try and Except <br>
13) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>

### Int & Float Assignments

##### Assigning int

In [1]:
number = 6

print(number)

6

##### Assinging float

In [2]:
numberFloat =2.3
print(numberFloat)

2.3

#### Performing Calculations on ints and floats

##### Addition

In [4]:
num1=2
num2=5.4

result = num1 +num2

print(result)

result +=2
print(result)

7.4
9.4

##### Subtraction

In [6]:
result_diff= num2-num1
print(result_diff)

result_diff-=1
print(result_diff)

3.4000000000000004
2.4000000000000004

##### Multiplication

In [8]:
result_mul = num1 *num2

print(result_mul)

result_mul*=2
print(result_mul)

10.8
21.6

##### Division

In [11]:
result_div=num2/num1
print(result_div)

result_div/=3
print(result_div)

2.7
0.9

##### Floor Division

In [13]:
result_floor = num2 // num1
print(result_floor)

result_floor //=2
print(result_floor)

2.0
1.0

##### Modulo

In [15]:
result_mod =num2 % num1

print(result_mod)

result_mod%=2
print(result_mod)

1.4000000000000004
1.4000000000000004

##### Exponential

In [17]:
square= 5**2
print(square)

square**=2
print(square)

25
625

### String Input-Output

##### String Assignment

In [19]:
name= "Jayden"
print(name)

Jayden

##### print() <br>
<p>Don't forget about end=' '</p>

In [22]:
print("this is my first name:", name)
print("Full Name:", name, end=" Evans")

this is my first name: Jayden
Full Name: Jayden Evans

##### String Concatenation

In [25]:
first_name ="Snoop"
last_name="Dogg"
full_name= first_name+ " "+ last_name
print(full_name)

full_name += ", the goat"
print(full_name)

Snoop Dogg
Snoop Dogg, the goat

##### Type Conversion

In [27]:
number= "32"
change_type_num=int(number)
print(number)
print(change_type_num +1)

32
33

##### input()

In [30]:
#input will always return a string

name = input("What is your Name?")
print(name)

age=int(input("What is your age?: "))

add_age=age +5
print(add_age)

What is your Name?jayden
jayden
What is your age?: 22
27

##### format()

In [32]:
age =input("what is your age?:")

result_string= "You are {} {} and you are getting wiser! ".format(age,name)
print(result_string)

result_again = f"{age} is a great time in life!!!"
print(result_again)

what is your age?:23
You are 23 jayden and you are getting wiser!
23 is a great time in life!!!

##### Old Way (python 2)

In [35]:
result_string2= "you are %s and you look great for your age!" %age
print(result_string2)

you are 23 and you look great for your age!

# In-Class Exercise 1 <br>
<p>Create a format statement that asks for color, year, make, model and prints out the results</p>

In [37]:
print("You are going to describe a car")
make= input("What is the make of the car?")
model = input("What is the model of the car?")
year= input("What is the year of the car?")
color = input("What color do you want the car to be?")

result= f"Your {year} {make} {model} will be {color}"
print(result)

You are going to describe a car
What is the make of the car?Chevy
What is the model of the car?Camaro
What is the year of the car?2023
What color do you want the car to be?black
Your 2023 Chevy Camaro will be black

### If Statements

In [45]:
# Available operators: Greater(>), Less(<),Equal(==)
# Greater or Equal(>=), Less or Equal (<=)

# Truth Tree:
# T && F = F
# T && T = T
# T || F = T
# F || T = T
# F || F = F

num1=44
num2=44

if num1 == num2:
    print("This is True!")
else:
    print("Not True")
    
if num2> num1:
    print("Num2 is greater")
elif num1 >num2:
    print("Num1 is greater")
else:
    print("they are equal")

This is True!
they are equal

##### 'is' keyword

In [46]:
# the is keyword is checking for the same object, but not the same value

num3= 55

if num3 is 55:
    print("thio is the exact numner/object")

thio is the exact numner/object

<>:5: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:5: SyntaxWarning: "is" with a literal. Did you mean "=="?
C:\Users\Jayde\AppData\Local\Temp\ipykernel_31452\2656572764.py:5: SyntaxWarning: "is" with a literal. Did you mean "=="?
  if num3 is 55:

##### 'in' keyword

In [47]:
#check if a character is in a string

char_name = "Keyden Martin"

if "Keyden" in char_name:
    print("Dogoog")

Dogoog

##### 'not in' keyword'

In [48]:
sega_char = "Sonic"

if 'a' not in sega_char:
    print('a is NOT here...')

a is NOT here...

# In-Class Exercise 2 <br>
<p>Ask user for input, check to see if the letter 'p' is in the input</p>

In [51]:
p_check= input("Type in whatever you please")

if 'p' in p_check:
    print("You fell right into my trap card!")
else:
    print("You are safe for now")

Type in whatever you pleasepapa pig
You fell right into my trap card!

## Using 'and'/'or' with If Statements

In [52]:
num_1= 15
num_2= 3
num_3 = 10
num_4 = 3

#if with and statement

if num_1/5 == num_2 and num_3 - 7 == num_4:
    print("Everything is true my dude")

    #If with or statement

if num_1 > num_2 or num_3 ==num_4:
    print("True and then false")

Everything is true my dude

### Elif Statements

In [55]:
first_name= input("What is your name? ")

if first_name == "Smith":
    print("The name is Smtih")
elif first_name == "Brandon":
    print("The name is Brandon")
elif first_name != "Max":
    print("The name is NOT MAX")
else:
    print("The Name is Max")

What is your name? Brandon
The name is Brandon

### Else Statements

In [ ]:
# see above

### For Loops

In [56]:
#Syntax: 
#for counter in condition:

name = "Jayden Evans"

for letter in name:
    print(letter)

J
a
y
d
e
n

E
v
a
n
s

##### Using 'in' keyword

In [ ]:
# see above

##### Continue Statement

In [ ]:
# will continue to next iteration

In [58]:
for i in range(20):
    if i ==5:
        continue
    print(i)

0
1
2
3
4
6
7
8
9
10
11
12
13
14
15
16
17
18
19

##### Break Statement

In [ ]:
# will break out of current loop

In [59]:
for i in range(20):
    if i ==5:
        break
    print(i)

0
1
2
3
4

##### Pass Statement

In [ ]:
# mostly used as a placeholder, and will continue on same iteration

In [60]:
for i in name:
    pass

##### Double For Loops

In [61]:
for i in range(5):
    for j in range(5):
        print("i =", i, "j=", j)

i = 0 j= 0
i = 0 j= 1
i = 0 j= 2
i = 0 j= 3
i = 0 j= 4
i = 1 j= 0
i = 1 j= 1
i = 1 j= 2
i = 1 j= 3
i = 1 j= 4
i = 2 j= 0
i = 2 j= 1
i = 2 j= 2
i = 2 j= 3
i = 2 j= 4
i = 3 j= 0
i = 3 j= 1
i = 3 j= 2
i = 3 j= 3
i = 3 j= 4
i = 4 j= 0
i = 4 j= 1
i = 4 j= 2
i = 4 j= 3
i = 4 j= 4

### While Loops

In [62]:
#Syntax
#while keyword, condition statement

num =0;

while num <10:
    print(num)
    num+=1

0
1
2
3
4
5
6
7
8
9

##### Looping 'While True'

In [63]:
game_over =True

while game_over:
    print("Hi")
    game_over=False

Hi

##### While & For Loops Used Together

In [65]:
num = 0

while num <5:
    print("\nWhile loop iterations: "+ str(num))
    for i in range(2):
        print("For loop iterations: ", str(i))
    num+=1

While loop iterations: 0
For loop iterations:  0
For loop iterations:  1

While loop iterations: 1
For loop iterations:  0
For loop iterations:  1

While loop iterations: 2
For loop iterations:  0
For loop iterations:  1

While loop iterations: 3
For loop iterations:  0
For loop iterations:  1

While loop iterations: 4
For loop iterations:  0
For loop iterations:  1

### Built-In Functions

##### range()

In [68]:
#range(Start, stop, step)

for i in range(2, 20, 2):
    print(i)

2
4
6
8
10
12
14
16
18

##### len()

In [69]:
name = "Max"
length=len(name)
print(length)

3

##### help()

In [70]:
#Use this function to view more nifor about a python function

help(range)

Help on class range in module builtins:

class range(object)
 |  range(stop) -> range object
 |  range(start, stop[, step]) -> range object
 |
 |  Return an object that produces a sequence of integers from start (inclusive)
 |  to stop (exclusive) by step.  range(i, j) produces i, i+1, i+2, ..., j-1.
 |  start defaults to 0, and stop is omitted!  range(4) produces 0, 1, 2, 3.
 |  These are exactly the valid indices for a list of 4 elements.
 |  When step is given, it specifies the increment (or decrement).
 |
 |  Methods defined here:
 |
 |  __bool__(self, /)
 |      True if self else False
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __reduce__(...)
 |      Helper for pickle.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(...)
 |      Return a reverse iterator.
 |
 |  count(...)
 |      rangeobject.count(value) -> integer -- return number of occurrences of value
 |
 |  index(...)
 |      rangeobject.index(value) -> integer -- return index of value.
 |      Raise ValueError if the value is not present.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  start
 |
 |  step
 |
 |  stop

##### isinstance()

In [71]:
#Check a variable to find out what object family (or data type) it belongs to
#ISINSTANCE(VAR, TYPE)


print(isinstance(4.5, int))
if isinstance(4.5, float):
    print("This number is a float type")

False
This number is a float type

##### abs()

In [72]:
#| -5| =5, just means absolute value.

print(abs(-5))

5

### Try and Except

In [75]:
#Use this to log out graceful and useful error messages
#does not stop the program! 

try:
    number_test=1
    input_num= int(input("Guess a number"))
    if input_num != input_num +number_test:
        input_num += number_test
        print("Your number is: " +str(input_num))
except:
    print("That didn't work! Change your number")

Guess a number23
Your number is: 24

### Lists

##### Declaring Lists

In [76]:
list_1=[] #this is an empty list, list is a data type

names=["Max", "Cindy","Gabby","Bob","Nate"]

print(names)

['Max', 'Cindy', 'Gabby', 'Bob', 'Nate']

##### Indexing a List

In [85]:
#Choosing a specific item inside of a list
#list_name[Start: stop: step]
#single index

print(names[0])

#print starting at index 1 going to the end

print(names[1:])

#Print starting at the beginning of the list up until a number

print(names[:2])

#Print at index 1 and going up by 2 each iteration

print(names[1::2])

#Print starting at the back and display in reverse order

print(names[::-1])

Max
['Cindy', 'Gabby', 'Bob', 'Nate']
['Max', 'Cindy']
['Cindy', 'Bob']
['Nate', 'Bob', 'Gabby', 'Cindy', 'Max']

##### .append()

In [90]:
names.append("Jayden")

print(names)

['Max', 'Cindy', 'Gabby', 'Bob', 'Nate', 'Jayden:)', 'Jayden', 'Jayden', 'Jayden', 'Jayden']

##### .insert()

In [91]:
names.insert(3, "Keylen")
print(names)

['Max', 'Cindy', 'Gabby', 'Keylen', 'Bob', 'Nate', 'Jayden:)', 'Jayden', 'Jayden', 'Jayden', 'Jayden']

##### .pop()

In [96]:
#Defaults to the last value if no parameter is given
#pop returns the element that was removed in case you want to assign it to a variable

my_name=names.pop(5)
print(my_name)
print(names)

Jayden
['Max', 'Cindy', 'Gabby', 'Keylen', 'Bob', 'Jayden', 'Jayden']


##### .remove()

In [97]:
#Value to be removed rather than index

while "Jayden" in names:
    names.remove("Jayden")
print(names)

['Max', 'Cindy', 'Gabby', 'Keylen', 'Bob']

##### del()

In [98]:
#Goes by index, rather than value
#Be careful can cause indexing errors

del(names[1])
print(names)

['Max', 'Gabby', 'Keylen', 'Bob']

##### Concatenating Two Lists

In [101]:
#this will append two lists together, will NOT add the avlues!!

list_2= [0,1,2]
list_3= [3,4,5]

large_list= list_2 +list_3
print(large_list)

[0, 1, 2, 3, 4, 5]

##### Lists Within Lists

In [ ]:
#Lists can hold ANy type of other element! Including other lists!
#They can go as deep as you want, this is called nested lists

names=["Jayden", "Gavin", "Kobe", ["Keylen","Angie","Jocey"]]
print(names)
print(names[3][1])

##### Looping Through Lists

In [103]:
#Two ways to loop through a list
#One is by index, the other is by using the in keyword

#by index

for i in range(len(names)):
    print(names[i])

#Loop with 'in'

for i in names:
    print(i)

Jayden
Gavin
Kobe
['Keylen', 'Angie', 'Jocey']
Jayden
Gavin
Kobe
['Keylen', 'Angie', 'Jocey']

## Exercise #1 <br>
<p>Cube Number Test... Print out all cubed numbers up to the total value 1000. Meaning that if the cubed number is over 1000 break the loop.</p>

In [109]:
num=1
cubed_num=0

while cubed_num <= 1000:
    cubed_num =num**2
    if(cubed_num<=1000):
        print(cubed_num)
    else:
        break
    num+=1

1
4
9
16
25
36
49
64
81
100
121
144
169
196
225
256
289
324
361
400
441
484
529
576
625
676
729
784
841
900
961

## Exercise #2 <br>
<p>Get first prime numbers up to 100</p>

In [115]:
# HINT::
# An else after an if runs if the if didn’t
# An else after a for runs if the for didn’t break

#can't be divided by 2,3,5,7
num=1
while num<=100:
    if num==1:
        num+=1
    if num%2 !=0 and num%3!=0 and num%5 !=0 and num%7!=0:
        print(num)
    if num==2 or num==3 or num ==5 or num ==7:
        print(num)
    
    
    num+=1

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

# Exercise 3 <br>
<p>Take in a users input for their age, if they are younger than 18 print kids, if they're 18 to 65 print adults, else print seniors</p>

In [122]:
try:
    user_input= int(input("Please type in your age: "))
    
    if user_input<18:
        print("Kid")
    elif user_input<=65:
        print("Adult")
    else:
        print("Senior")
        
except:
    print("Please print your age as a number")

Please type in your age: 17
Kid